/* General styles */

body {
	font: 13px/18px "Roboto", Arial, Helvetica sans-serif;
}

h1 {
	margin: 60px 0;
	color: #666;
	text-align: center;
	font-weight: 300;
	font-size: 2.0em;
}

b, strong {
	font-weight: 500;
}

.container {
	width: 960px;
}

*:focus {
	outline: 0 !important;;
}

/* Verified reviews */

a.verified-reviews {
	display: block;
	float: right;
	margin: 20px 0 40px;
}

a.verified-reviews:before,
a.verified-reviews:after {
	display: table;
	clear: both;
	content: '';
}

/* Summary filters */

.summary-filters {
	position: relative;
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.summary-filters:before,
.summary-filters:after {
	display: table;
	clear: both;
	content: '';
}

.summary-filters :after,
.summary-filters:before {
	display: table;
	clear: both;
	content: '';
}

.summary-filters .tile {
	position: relative;
	float: left;
	margin:0 10px 10px 0;
}

.summary-filters .tile a {
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.summary-filters .tile > a {
	position: relative;
	display: block;
	height: 36px;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	background: #fff;
	color: #777;
	text-align: left;
	text-decoration: none;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.6em;
	padding: 7px 15px;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.summary-filters .tile a:hover {
	background: #fafafa;
	color: #333;
}

.summary-filters .tile a .value {
	display: block;
	font-weight: 300;
	font-size: .85em;
}

/* Filters on */

.summary-filters .dropdown-menu > li.active > a,
.summary-filters .dropdown-menu > li.active > a .ty-icon,
.summary-filters .dropdown-menu > li.active > a:hover .ty-icon,
.summary-filters .tile.active > a,
.summary-filters .tile.active > a:hover {
	position: relative;
	background: transparent;
	color: #689cd4;
	cursor: default;
}

.summary-filters .tile.active:last-child > a:hover {
	cursor: pointer;
}

.summary-filasters .tile.active:after {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 100;
	margin-top: -1px;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
}

/* Trip type icons */

.summary-filters .tile a .ty-icon {
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	color: #999;
}

.summary-filters .tile > a[data-toggle="tab"] .ty-icon {
    display: block;
    font-size: 1.3em;
    margin-right:7px;
    margin-top:3px;
    float: left;
}

.summary-filters .tile a:hover .ty-icon {
	color: #666;
}

.summary-filters .tile.active > a > .ty-icon {
	color: #689cd4;
}

/* Dropdown menu */

.summary-filters .tile > a[data-toggle="dropdown"] .ty-icon {
	display: block;
    font-size: 1.6em;
    margin-right: 5px;
    margin-top: 1px;
    float:left;
}

.dropdown-menu {
	padding: 0;
	border: 1px solid #e5e5e5;
	border-radius: 0 4px 4px 4px;
	box-shadow: 0 3px 8px -4px rgba(0,0,0,.6);
	margin-top: -1px;
	border-top: none;
	left: -1px;
	min-width: 156px;
	z-index: 99;
	max-height: 288px;
	overflow: auto;
}

.dropdown-menu li {
	border-top: 1px dashed #ddd;
}

.dropdown-menu > li > a {
	color: #666;
	cursor: pointer;
	padding: 10px 10px 10px 37px;
	white-space: normal;
	font-weight: 500;
}

.dropdown-menu > li.disabled > a,
.dropdown-menu > li.disabled > a:hover,
.dropdown-menu > li.disabled > a:active,
.dropdown-menu > li.disabled > a .ty-icon,
.dropdown-menu > li.disabled > a:hover .ty-icon,
.dropdown-menu > li.disabled > a:active .ty-icon {
	color: #ccc;
}

.dropdown-menu a .ty-icon {
	float: left;
	margin: 1px 0px 0 -27px;
	font-size: 1.25em;
}

.tile .dropdown-menu a .value {
	float: right;
	font-weight: 300;
	font-size: 1.0em;
}

/* Tab content */

.tab-content {
	padding: 30px;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
}

/* Search results */

.search-results .content{
	float:left;
	width:695px;
}
.search-results h2 {
	margin: 0 0 30px;
	color: #08c;
	text-align: left;
	font-weight: 300;
	font-size: 1.8em;
}

.search-results .hotel {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #e5e5e5;
}

.search-results .hotel:before,
.search-results .hotel:after {
	display: table;
	clear: both;
	content: '';
}

.search-results .hotel:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.search-results .hotel h3 {
	margin: 0 0 10px;
	color: #555;
	font-weight: normal;
	font-size: 1.3em;
}

.search-results .hotel h3 a,
.search-results .hotel h3 a:link,
.search-results .hotel h3 a:visited {
	color: #555;
}

.search-results .hotel h3 a:hover {
	color: #333;
}
.search-results .show-similar-hotels{
	clear:both;
}
/* Rating */

.search-results .rating {
	display: block;
	margin-bottom: 15px;
	height: 15px;
}

/* Popularity  & Badges*/
.search-results .popularity {
	margin: 0 0 10px 0;
	float:left;
	clear:both;
	width: 100%;
}

.search-results .popularity .popularity-label{
	background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    color: #333;
    float: left;
    font-size: 0.9em;
    font-weight: 500;
    margin-right: 10px;
    padding: 10px;
    text-transform: capitalize;
    transition: all 0.1s ease-in-out 0s;
    text-align: center;
    min-width: 100px;
    margin-bottom:10px;
}

.search-results .popularity [class^="label-part-"] {
}

.search-results .popularity .label-part-rank{
	color: #357ebd;
    text-transform: uppercase;
    font-weight:500;
}

.search-results .popularity .label-part-hotel-type{
	padding-left: 0px;
}

.search-results .popularity .label-part-location{
	color: #aaa;
    display: block;
    font-weight: 400;
    text-transform: none;
    transition: all 0.1s ease-in-out 0s;
	float:none;
}

.search-results .popularity a{
	display: inline-block;
	padding: 1px 6px;
	color: #999;
}

.show-similar-hotels{
	float:left;
}
/* Stars */

.search-results .hotel .stars{
	float: left;
	margin-top: -2px;
	width: 85px;
	color: #ccc;
	font-size: 1.1em;
}

.search-results .hotel .stars span{
	margin-right: -3px;
}

.search-results .hotel .stars span.active{
	color: #ffb400;
}

/* TrustScore */

.search-results .hotel .trustscore {
	float: left;
	width: 200px;
}

/* Ranking */

.search-results .hotel .ranking {
	position: absolute;
	top: 20px;
	left: 0;
	padding: 0 15px;
	background: #119a11;
	color: #fff;
	font-size: .8em;
}

.search-results .hotel .rank-wrapper {
	display:table-cell;
	height: 38px; 
	vertical-align:middle;
}

.search-results .hotel .ranking span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 2px 1px rgba(0, 0, 0, .6);
	font-size: 1.0em;
	line-height: 1.2em;
}

/* Thumbnail */

.search-results .hotel .thumbnail {
	position: relative;
	float: left;
	margin: 0 20px 0 0;
	width: 150px;
	height: 150px;
	background: #fff;
}

.search-results .hotel .thumbnail img {
	max-width: 100%;
	height: auto;
}

/* Deals */

.search-results .hotel .deals {
	float: right;
	color: #428bca;
	text-align: center;
	font-weight: 300;
	font-size: 1.2em;
}

.search-results .hotel .deals .price {
	display: block;
	margin: 10px 0;
	font-size: 2.2em;
}

/* Snippets, summary sentence & hotel type */

.search-results .hotel .hotel-type .ty-icon {
	float: left;
	margin-right: 8px;
	font-size: 1.2em;
}

.search-results .hotel .hotel-type,
.search-results .hotel .highlights,
.search-results .hotel .summary-sentence {
	font-weight: 300;
	font-size: 1.1em;
}

.search-results .hotel .highlights {
	color: #666;
	font-style: italic;
	padding-top: 7px;
}

.search-results .hotel .highlights span {
	display: block;
	float: left;
	margin: 0px 5px 5px 0;
}

.search-results .hotel .hotel-type span {
	color: #666;
	display: block;
	margin-bottom: 5px;
}

.search-results .hotel .summary-sentence {
	margin: 10px 0;
}

/* Recommended hotels */

.search-results.recommended .hotel {
	margin-bottom: 30px;
	padding: 20px;
	height: 140px;
	border-bottom: none;
	background: #fafafa;
}

.search-results.recommended .hotel .thumbnail {
	margin: -20px 20px 0 -20px;
	width: 140px;
	height: 140px;
}

.search-results.recommended .hotel .deals {
	float: right;
	color: #5cb85c;
}

.search-results.recommended .hotel .thumbnail {
	padding: 0;
	border: none;
	border-radius: 0;
}
