@import "variables/colors",
		"variables/elevation",
		"variables/layout",
		"variables/typography";


body {
	background: #eee;
}

h1 {
	margin-top: $space-10*2;
}
.search-form {
	margin-bottom: $space-10*2;
}

main {
	padding: $space-10;
	display: grid;
	grid-template-columns: 4fr 2fr;
	row-gap: $space-8;
	column-gap: $space-8;
	align-items: start
}

.search-results {
}

.search-map {
	box-shadow: $elevation-base;
	background: #ddd url('../img/map.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: $space-8;
	position: sticky;
  	top: $space-10;
  	height: calc(100vh - 2 * #{$space-10});
}