@import "variables/colors",
		"variables/elevation",
		"variables/layout",
		"variables/typography";


body {
	background: #eee;
}

.search-form {
}

.search-results {
	width: 100%;
	max-width: $container-width;
	padding: $space-10;
}