@import "variables/colors",
		"variables/elevation",
		"variables/layout",
		"variables/typography",

		"base/form",
		"base/layout",
		"base/typography",

		"modules/hotel",
		"modules/navbar",
		"modules/pill",
		"modules/search-form";

body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

header {
	width: 100%;
	display: flex;
}

main {
	width: 100%;
	flex: 1 1 auto;
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}