html
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	meta(name="robots", content="noindex, nofollow")

	title Home

	link(rel="stylesheet", type="text/css", href="../css/style.css")
	link(rel="stylesheet", type="text/css", href="../css/home.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap")
	link(rel="stylesheet", href="//cdn.integration.trustyou.com/apps/trustyou-iconic/public/css/trustyou-iconic.min.latest.css")

body.splashscreens
	main
		h1.text-white Where are you traveling to?
		form.search-form(action="results.html")
			input.search-location(type="search" placeholder="Type a city name" name="location" required)

	// Scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="js/main.js")