html
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	meta(name="robots", content="noindex, nofollow")

	title Search Results

	link(rel="stylesheet", type="text/css", href="css/style.css")
	link(rel="stylesheet", type="text/css", href="css/results.css")
	link(rel="stylesheet", href="//fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap")
	link(rel="stylesheet", href="//cdn.integration.trustyou.com/apps/trustyou-iconic/public/css/trustyou-iconic.min.latest.css")

body
	header
		form.search-form#search-form(action="results.html")
			.search-container
				fieldset.search-primary#search-primary
					legend You have 1,235 results for #[em#search-location-legend]
					.search-box
						input.search-location#search-location(type="search" placeholder="Try another city?" name="location" required)
						i.ty-icon.ty-icon-search
				fieldset.search-secondary
					.search-preferences#search-preferences
						fieldset
							legend What is most relevant for your trip?
							// This should be replaced with the tag search component
							.search-categories
								input(type="search" placeholder="e.g. cleanliness, breakfast, wifi")
						fieldset
							legend What kind of trip did you have in mind?
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-heart
								| Romantic
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-suitcase
								| Business
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-family
								| Family
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-single
								| Solo
						fieldset
							legend Any special occasion for this trip?
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-tuxedo
								| Wedding
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-glass-martini
								| Bachelor party
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-lotus
								| Wellness & relaxing
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-snowflake
								| Wintersports
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-tree-pine
								| Hiking & outdoors
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-crown
								| Luxury
						input.form-submit.btn.btn-positive.btn-lg(type="submit" value="Apply changes")
						input.form-reset(type="reset" value="Clear selection")
					.search-toggle#search-toggle
						span Customize your search
						i.ty-icon.ty-icon-chevron-down
	main
		section.search-results#search-results
		section.search-map

	script(type="text/babel")
		include includes/result.js

	script(src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")
	script(src="js/main.js")

	script(src="//unpkg.com/react@17/umd/react.production.min.js")
	script(src="//unpkg.com/react-dom@17/umd/react-dom.production.min.js")
	script(src="//unpkg.com/babel-standalone@6.15.0/babel.min.js")
