html
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	meta(name="robots", content="noindex, nofollow")

	title Search Results

	link(rel="stylesheet", type="text/css", href="../css/style.css")
	link(rel="stylesheet", type="text/css", href="../css/results.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap")
	link(rel="stylesheet", href="//cdn.integration.trustyou.com/apps/trustyou-iconic/public/css/trustyou-iconic.min.latest.css")

body
	header
		// search form goes here
	main
		section.search-results
			h2 Showing search results for "#[strong#search-location]"
			- for (var i = 0; i < 5; ++i) {
				article.hotel
					.hotel-image
						img(src="" alt="Photo")
					.hotel-details
						h3 Sapphire Hotel & Spa
						h4 2km from center
					.hotel-actions
						a.action-primary.btn.btn-primary(href="details.html") Book Now
						a.action-secondary.btn.btn-text(href="details.html") More details
			- }

	// Scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="js/main.js")