html
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	meta(name="robots", content="noindex, nofollow")

	title Search Results

	link(rel="stylesheet", type="text/css", href="css/style.css")
	link(rel="stylesheet", type="text/css", href="css/results.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap")
	link(rel="stylesheet", href="https://cdn.integration.trustyou.com/apps/trustyou-iconic/public/css/trustyou-iconic.min.latest.css")

body
	header.hero
		.hero-bg
		.hero-content
			.container
				h1.text-white You have 1,235 results for #[em#search-location]
				form.search-form(action="results.html")
					input.search-location(type="search" placeholder="Try another city?" name="location" required)
					label.search-icon
						i.ty-icon.ty-icon-search
				.hero-trigger
					i.ty-icon.ty-icon-chevron-down
	main
		section.search-results
			- for (var i = 0; i < 10; ++i) {
				article.hotel
					.hotel-image(style="background-image:url('img/hotels/" + (i+1) + ".jpg');")
					.hotel-details
						h3 Sapphire Hotel & Spa
						h4 2km from center
						ul.overall
							li Match: #[span.pill 85%]
							li Reviews: 1,235
							li Score: 8.5
						ul.categories
							li #[span.pill 4.5] Cleanliness
							li #[span.pill 3.7] Rooms
						ul.badges
							li #[span.pill Top 3%] Luxury hotel
							li #[span.pill Top 1%] Romantic hotel
					.hotel-actions
						a.action-primary.btn.btn-primary(href="details.html") Book Now
						a.action-secondary.btn.btn-text(href="details.html") More details
			- }
		section.search-map

	// Scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="js/main.js")