html
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	meta(name="robots", content="noindex, nofollow")

	title Hotel Details

	link(rel="stylesheet", type="text/css", href="css/style.css")
	link(rel="stylesheet", type="text/css", href="css/details.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap")
	link(rel="stylesheet", href="https://cdn.integration.trustyou.com/apps/trustyou-iconic/public/css/trustyou-iconic.min.latest.css")

body
	section.title
		h1 Hotel Details

	// Scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="js/main.js")