html
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width,initial-scale=1.0")
	meta(name="robots", content="noindex, nofollow")

	title Search Results

	link(rel="stylesheet", type="text/css", href="css/style.css")
	link(rel="stylesheet", type="text/css", href="css/results.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap")
	link(rel="stylesheet", href="https://cdn.integration.trustyou.com/apps/trustyou-iconic/public/css/trustyou-iconic.min.latest.css")

body
	header
		form.search-form#search-form(action="results.html")
			.search-container
				fieldset.search-primary#search-primary
					legend You have 1,235 results for #[em#search-location-legend]
					.search-box
						input.search-location#search-location(type="search" placeholder="Try another city?" name="location" required)
						i.ty-icon.ty-icon-search
				fieldset.search-secondary
					.search-preferences#search-preferences
						fieldset
							legend What is most relevant for your trip?
							// This should be replaced with the tag search component
							.search-categories
								input(type="search" placeholder="e.g. cleanliness, breakfast, wifi")
						fieldset
							legend What kind of trip did you have in mind?
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-heart
								| Romantic
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-suitcase
								| Business
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-family
								| Family
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-single
								| Solo
						fieldset
							legend Any special occasion for this trip?
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-tuxedo
								| Wedding
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-glass-martini
								| Bachelor party
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-lotus
								| Wellness & relaxing
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-snowflake
								| Wintersports
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-tree-pine
								| Hiking & outdoors
							label
								input(type="checkbox")
								i.ty-icon.ty-icon-crown
								| Luxury
						input.form-submit.btn.btn-positive.btn-lg(type="submit" value="Apply changes")
						input.form-reset(type="reset" value="Clear selection")
					.search-toggle#search-toggle
						span Customize your search
						i.ty-icon.ty-icon-chevron-down
	main
		section.search-results
			- for (var i = 0; i < 10; ++i) {
				article.hotel
					.hotel-image(style="background-image:url('img/hotels/h" + (i+1) + ".jpg');")
					.hotel-details
						h3 Sapphire Hotel & Spa
						h4 2km from center
						ul.overall
							li Match: #[span.pill 85%]
							li Reviews: 1,235
							li Score: 8.5
						ul.categories
							li #[span.pill 4.5] Cleanliness
							li #[span.pill 3.7] Rooms
						ul.badges
							li #[span.pill Top 3%] Luxury hotel
							li #[span.pill Top 1%] Romantic hotel
					.hotel-actions
						a.action-primary.btn.btn-primary(href="details.html") Book Now
						a.action-secondary.btn.btn-text(href="details.html") More details
			- }
		section.search-map

	// Scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
	script(src="js/main.js")