@import "variables/colors",
		"variables/elevation",
		"variables/layout",
		"variables/typography";

h1 {
	width: 100%;
	margin: auto 0 $space-10;
	text-shadow: $elevation-medium;
}

.search-primary {
	padding-bottom: $space-10*2;
}