@import "variables/colors",
		"variables/elevation",
		"variables/layout",
		"variables/typography";

main {
	padding: $space-10;
	display: grid;
	grid-template-columns: 4fr 2fr;
	row-gap: $space-8;
	column-gap: $space-8;
	align-items: start;
	background-color: $gray-100;
}

.search-container {
	padding-top: $space-10;
}

.search-map {
	box-shadow: $elevation-base;
	background: #ddd url('../img/map.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: $space-8;
	position: sticky;
  	top: $space-10;
  	height: calc(100vh - 2 * #{$space-10});
  	max-height: 600px;
}

@media (max-width: 1100px) {
	main {
		grid-template-columns: 1fr;
	}
	.search-map {
		display: none;
	}
}