@import "variables/colors",
		"variables/elevation",
		"variables/layout",
		"variables/typography",
		"modules/map-markers";

main {
	padding: $space-10 $space-10 0 $space-10;
	display: grid;
	grid-template-columns: 6.5fr 5.5fr;
	row-gap: $space-8;
	column-gap: $space-8;
	align-items: start;
	background-color: $gray-100;
}

.search-container {
	padding-top: $space-10;
}

.search-map {
	box-shadow: $elevation-base;
	padding: $space-8;
	position: sticky;
  	height: calc(100vh - 2 * #{$space-10});
  	max-height: 700px;
}

.score-gradient {
	margin-top: 20px;
    text-align: right;
}

@media (max-width: 1100px) {
	main {
		grid-template-columns: 1fr;
	}
	.search-map {
		display: none;
	}
}
