h1 {
	font-size: 2.4rem;
	line-height: 2.8rem;
	text-align: center;
	font-family: $font-sans-serif;
	font-weight: 400;
}

/*
* Text Styles
*/

.text-positive {
	color: $green-500;
}

.text-negative {
	color: $red-500;
}

.text-neutral {
	color: $orange-500;
}

.text-white {
	color: #fff;
}