/*
* Base
*/

$white: #FFFFFF;
$black: #000000;

/*
* Blue
*/

$blue-50: #EBF8FF;
$blue-100: #C5E8FC;
$blue-200: #A2D9F6;
$blue-300: #75C1F0;
$blue-400: #54AFE8;
$blue-500: #3498DB;
$blue-600: #2D88CD;
$blue-700: #2B6EB1;
$blue-800: #275890;
$blue-900: #25416F;

/*
* Gray
*/

$gray-50: #F5F5F5;
$gray-100: #EEEEEE;
$gray-200: #DDDDDD;
$gray-300: #CCCCCC;
$gray-400: #999999;
$gray-500: #666666;
$gray-600: #505050;
$gray-700: #333333;
$gray-800: #212121;
$gray-900: #121212;

/*
* Green
*/

$green-50: #F1F8E8;
$green-100: #D4EABE;
$green-200: #BADB99;
$green-300: #9FD06C;
$green-400: #8CC44F;
$green-500: #7CB342;
$green-600: #6C9F3C;
$green-700: #4F7B2D;
$green-800: #3A5E21;
$green-900: #304C1F;

/*
* Orange
*/

$orange-50: #FFF4E3;
$orange-100: #FFEACC;
$orange-200: #FFD08C;
$orange-300: #FBC06A;
$orange-400: #FCB140;
$orange-500: #F79E1D;
$orange-600: #EB8F1E;
$orange-700: #BF6912;
$orange-800: #97511C;
$orange-900: #75401A;

/*
* Red
*/

$red-50: #FFF2F0;
$red-100: #FEE2DD;
$red-200: #FAC7BD;
$red-300: #F9AA9A;
$red-400: #F48066;
$red-500: #F06748;
$red-600: #DD4D2C;
$red-700: #C63B1F;
$red-800: #9A301D;
$red-900: #7D2B1C;