/*
* Elevation
*/

$elevation-base: 0 0 1px rgba(0, 0, 0, 0.2);
$elevation-low: $elevation-base, 0 2px 4px rgba(0, 0, 0, 0.05), 0 4px 8px rgba(0, 0, 0, 0.05);
$elevation-medium: $elevation-low, 0 8px 16px rgba(0, 0, 0, 0.05);
$elevation-high: $elevation-medium, 0 12px 24px rgba(0, 0, 0, 0.05);