$container-width: 960px;

/*
* Breakpoints
*/

$screen-phone: 480px !default;
$screen-tablet: 768px !default;
$screen-desktop: 992px !default;
$screen-lg-desktop: 1200px !default;

/*
* Spacing
*/

$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;
$space-8: 32px;
$space-9: 36px;
$space-10: 40px;