.btn {
  transition: all 0.1s ease-in-out;
  font-family: $font-sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  border: none;
  border-radius: 20px;
  padding: $space-2 $space-5;
  text-decoration: none;
  background: $gray-100;
  color: $gray-500;
  cursor: pointer;

  &:hover {
    background: $gray-50;
    color: $gray-500;
  }

  &:active {
    background: $gray-200;
    color: $gray-700;
  }

  &.btn-lg {
    border-radius: $space-6;
    padding: $space-4 $space-10;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  &.btn-text {
    background: transparent;
    color: $gray-500;

    &:hover {
      color: $blue-400;
    }

    &:active {
      color: $blue-700;
    }
  }

  &.btn-primary {
    color: $white;
    background: $blue-500;

    &:hover {
      background: $blue-400;
    }

    &:active {
      background: $blue-600;
    }
  }

  &.btn-positive {
    color: $white;
    background: $green-500;

    &:hover {
      background: $green-400;
    }

    &:active {
      background: $green-600;
    }
  }

  &.btn-neutral {
    color: $white;
    background: $orange-500;

    &:hover {
      background: $orange-400;
    }

    &:active {
      background: $orange-600;
    }
  }

  &.btn-negative {
    color: $white;
    background: $red-500;

    &:hover {
      background: $red-400;
    }

    &:active {
      background: $red-600;
    }
  }
}
