.map-marker {
    width: 2rem;
    height: 2rem;
    display: block;
    left: -1.5rem;
    top: -1.5rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
}
.marker-excellent {
    background-color: #3498DB;
    border: 1px solid #2692da;
}

.marker-verygood {
    background-color: #6da5ca;
    border: 1px solid #5584a3;
}

.marker-fair {
    background-color: #97aebd;
    border: 1px solid #768a97;
}

.marker-good, .marker-poor {
    background-color: #b0b3b5;
    border: 1px solid #a4adb3;
}

.score-marker {
    margin-top: 5px;
}
