.search-form {
	border-radius: 4px;
	position: relative;
	margin: 0 0 auto;

	.search-location {
		width: 100%;
		height: 50px;
		border-radius: 25px;
		transition: all 0.1s ease-in-out;
		border: none;
		box-shadow: $elevation-medium;
		font-size: 1rem;
		padding: $space-5;

		&:focus {
			border: none;
			outline: none;
			box-shadow: $elevation-high;
		}
	}

	.search-icon {
		position: absolute;
		right: $space-5;
		top: $space-3;
		font-size: 24px;
		color: $gray-500;
	}
}