.search-form {
	border-radius: 4px;
	position: relative;

	.search-location {
		width: 100%;
		height: 50px;
		border-radius: 25px;
		border: 1px solid transparent;
		box-shadow: $elevation-base;
		font-size: 1rem;
		padding: $space-5;

		&:focus {
			outline: none;
			border-color: $gray-200;
		}
	}

	.search-icon {
		position: absolute;
		right: $space-5;
		top: $space-3;
		font-size: 24px;
		color: $gray-500;
	}
}